<% role, accounts = account_group %>

<tr>
  <td class='role-name' colspan=<%= Iam::Configuration[:account][:attributes].count %>>
    <%= role_name role %>
  </td>
</tr>

<%= render partial: 'iam/account', collection: accounts %>
