<% role, accounts = account_group %>

<tr>
  <td class='role-name' colspan=<%= Iam::Configuration.account_attributes.count %>>
    <%= role.public_send Iam::Configuration.role_name_attribute %>
  </td>
</tr>
<%= render partial: 'iam/account', collection: accounts %>
