#iam-menu
  text-align: center
  background: #d9ead3
  border-spacing: 0
  position: fixed
  top: 0
  left: 0
  cursor: pointer
  width: 250px
  z-index: 1000

  td
    border: 1px solid #c9dac3
    margin: 0
    padding: 2px

  .role-name, .iam-settings-header, .log-out-header
    cursor: cursor
    padding: 5px
    font-size: 120%
    font-weight: bold

  .iam-setting
    text-align: left
    padding-left: 10px

  .iam-settings
    display: none

  #iam-current-account td
    border: 2px solid red !important

.iam-notice
  position: fixed
  left: 200px
  top: 0
  background: #d9ead3
  padding: 5px
  display: none
  width: 300px
  z-index: 1000
